{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "useBuiltIns": "entry",
      "corejs": "2",
      "loose": true,
      "targets": {
        "browsers": ["chrome >= 60", "safari >= 10"]
      },
      "exclude": ["web.timers", "web.immediate", "web.dom.iterable"]
    }],
    "@babel/preset-flow",
    ["@babel/preset-react", { "useBuiltIns": true }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ],
  "env": {
    "test": {
      "plugins": [
        "@babel/plugin-transform-modules-commonjs"
      ]
    }
  }
}
