parser: babel-eslint

plugins:
  - flowtype

extends:
  - 1pete-react
  - plugin:flowtype/recommended

settings:
  react:
    version: "16.3"

globals:
  __DEV__: true

env:
  browser: true

overrides:
  - files: ['*.spec.js']
    env:
      mocha: true
