.item-todo {
  display: flex;
  list-style: none;
  padding: 0 10px;
  background-color: #b2ebf2;
  box-shadow: 0 -1px 0 #ededed;
  align-items: center;
}

.item-todo label {
  display: inline;
  top: 2px;
  margin-bottom: 0;
}

.item-todo a {
  flex: 1;
  color: inherit;
  transition: opacity 0.4s;
}

.item-todo.is-complete a {
  opacity: 0.6;
  text-decoration: line-through;
}
