.item-todo {
  display: flex;
  height: 42px;
  list-style: none;
  padding: 0 10px;
  background-color: #b2ebf2;
  box-shadow: 0 -1px 0 #ededed;
  align-items: center;
}

.item-todo label {
  display: inline;
  top: 2px;
  margin-bottom: 0;
}

.item-todo a {
  display: flex;
  flex: 1 1 0;
  color: inherit;
  align-items: center;
  transition: opacity 0.4s;
}

.item-todo.is-complete a {
  opacity: 0.6;
  text-decoration: line-through;
}

.item-todo .text-title {
  flex: 1 1 0;
}

.item-todo .text-duedate {
  flex: none;
}
