*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html, body, #root, #root > * {
  margin: 0;
  height: 100%;
}

#root {
  position: relative;
  max-width: 450px;
  margin: auto;
  background-color: #fafafa;
}

.pt-navbar.header {
  background-color: #00BCD4;
  box-shadow: none;
}

.pt-navbar.footer {
  background-color: #E0F7FA;
}

.display-flex {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex-1 {
  flex: 1;
  overflow-y: auto;
}

.component-description {
  padding: 10px;
}
